USE [TritonLink]
GO
/****** Object:  Table [dbo].[ATTENDANCE]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[quarter_id] [int] NOT NULL,
 CONSTRAINT [PK_ATTENDANCE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [text] NOT NULL,
	[author] [text] NOT NULL,
 CONSTRAINT [PK_BOOK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOOK_AVAILABILITY]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_AVAILABILITY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[condition_id] [int] NOT NULL,
	[status] [text] NOT NULL,
 CONSTRAINT [PK_BOOK_AVAILABILITY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOOK_CONDITION]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_CONDITION](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [text] NOT NULL,
	[isRental] [int] NOT NULL,
	[price] [int] NOT NULL,
 CONSTRAINT [PK_BOOK_CONDITION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BSMS_STUDENT]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BSMS_STUDENT](
	[id] [int] NOT NULL,
	[major_id] [int] NOT NULL,
	[minor_id] [int] NOT NULL,
	[college_id] [int] NOT NULL,
 CONSTRAINT [PK_BSMS_STUDENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[title] [varchar](50) NOT NULL,
	[quarter_id] [int] NOT NULL,
 CONSTRAINT [PK_CLASS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COLLEGE]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLLEGE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [text] NOT NULL,
 CONSTRAINT [PK_COLLEGE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMMITTEE]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMITTEE](
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_COMMITTEE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMMITTEE_FACULTY]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMITTEE_FACULTY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[committee_id] [int] NOT NULL,
	[faculty_id] [int] NOT NULL,
 CONSTRAINT [PK_COMMITTEE_FACULTY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMMITTEE_GRAD]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMITTEE_GRAD](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[committee_id] [int] NOT NULL,
	[grad_id] [int] NOT NULL,
 CONSTRAINT [PK_COMMITTEE_GRAD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMMITTEE_PHD]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMITTEE_PHD](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[committee_id] [int] NOT NULL,
	[phd_candidate_id] [int] NOT NULL,
 CONSTRAINT [PK_COMMITTEE_PHD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[subject_id] [int] NOT NULL,
	[prevNum] [text] NULL,
	[currNum] [text] NOT NULL,
	[unitFrom] [int] NOT NULL,
	[unitTo] [int] NOT NULL,
	[letter_option] [bit] NOT NULL,
	[SU_option] [bit] NOT NULL,
	[labwork] [bit] NOT NULL,
	[instructor_consent] [bit] NOT NULL,
 CONSTRAINT [PK_COURSE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COURSE_CATEGORY_REQUIREMENT]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_CATEGORY_REQUIREMENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_id] [int] NOT NULL,
	[min_gpa] [float] NULL,
	[min_unit] [int] NOT NULL,
 CONSTRAINT [PK_COURSE_CATEGORY_REQUIREMENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COURSE_SUBJECT]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_SUBJECT](
	[subject_id] [int] IDENTITY(1,1) NOT NULL,
	[symbol] [text] NOT NULL,
	[dept_id] [int] NOT NULL,
 CONSTRAINT [PK_COURSE_SUBJECT] PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COURSE_TYPE]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_TYPE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_COURSE_TYPE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COURSE_TYPE_CATEGORY]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_TYPE_CATEGORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[type_id] [int] NOT NULL,
 CONSTRAINT [PK_COURSE_TYPE_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEGREE]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEGREE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[type_id] [int] NOT NULL,
	[institution] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DEGREE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEGREE_TYPE]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEGREE_TYPE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DEGREE_TYPE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [text] NOT NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DISCUSSION]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCUSSION](
	[id] [int] NOT NULL,
	[required] [int] NOT NULL,
 CONSTRAINT [PK_DISCUSSION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ENROLLMENT]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENROLLMENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[section_id] [int] NOT NULL,
	[letter_option] [bit] NOT NULL,
	[su_option] [bit] NOT NULL,
	[grade] [varchar](50) NULL,
	[unit] [int] NOT NULL,
 CONSTRAINT [PK_ENROLLMENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FACULTY]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACULTY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [text] NOT NULL,
	[title] [text] NOT NULL,
	[dept_id] [int] NOT NULL,
 CONSTRAINT [PK_FACULTY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GRAD]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRAD](
	[id] [int] NOT NULL,
	[dept_id] [int] NOT NULL,
 CONSTRAINT [PK_GRAD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GRADE_CONVERSION]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADE_CONVERSION](
	[letter_grade] [varchar](2) NOT NULL,
	[number_grade] [decimal](2, 1) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MASTER]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER](
	[id] [int] NOT NULL,
 CONSTRAINT [PK_MASTER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MEETING]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEETING](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[room] [int] NOT NULL,
	[building] [text] NOT NULL,
	[section_id] [int] NOT NULL,
 CONSTRAINT [PK_MEETING] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MS_CONCENTRATION]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MS_CONCENTRATION](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[degree_id] [int] NOT NULL,
 CONSTRAINT [PK_MS_CONCENTRATION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MS_CONCENTRATION_COURSE]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MS_CONCENTRATION_COURSE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[concentration_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
 CONSTRAINT [PK_MS_CONCENTRATION_COURSE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MS_CONCENTRATION_REQUIREMENT]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MS_CONCENTRATION_REQUIREMENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[concentration_id] [int] NOT NULL,
	[course_category_id] [int] NOT NULL,
 CONSTRAINT [PK_MS_CONCENTRATION_REQUIREMENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NON_DISCUSSION]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NON_DISCUSSION](
	[id] [int] NOT NULL,
	[type] [text] NOT NULL,
 CONSTRAINT [PK_NON_DISCUSSION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHD]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHD](
	[id] [int] NOT NULL,
 CONSTRAINT [PK_PHD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHD_CANDIDATE]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHD_CANDIDATE](
	[id] [int] NOT NULL,
	[advisor_id] [int] NOT NULL,
 CONSTRAINT [PK_PHD_CANDIDATE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHD_PRECANDIDATE]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHD_PRECANDIDATE](
	[id] [int] NOT NULL,
 CONSTRAINT [PK_PHD_PRECANDIDATE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PREREQUISITE]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREREQUISITE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[prereq_id] [int] NOT NULL,
 CONSTRAINT [PK_PREREQUISITE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROBATION_PERIOD]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROBATION_PERIOD](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[quarter_id] [int] NOT NULL,
	[reason] [text] NOT NULL,
 CONSTRAINT [PK_PROBATION_PERIOD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUARTER]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUARTER](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_id] [int] NOT NULL,
	[year] [int] NOT NULL,
 CONSTRAINT [PK_QUARTER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUARTER_NAME]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUARTER_NAME](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QUARTER_NAME] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RESIDENT_STATUS]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESIDENT_STATUS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [text] NOT NULL,
 CONSTRAINT [PK_RESIDENT_STATUS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REVIEW_SESSION]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEW_SESSION](
	[id] [int] NOT NULL,
	[month] [text] NOT NULL,
	[day] [int] NOT NULL,
	[weekday] [text] NOT NULL,
 CONSTRAINT [PK_REVIEW_SESSION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REVIEW_SESSION_AVAILABLE_TIME]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEW_SESSION_AVAILABLE_TIME](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
 CONSTRAINT [PK_REVIEW_SESSION_AVAILABLE_TIME] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SECTION]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECTION](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[class_id] [int] NOT NULL,
	[faculty_id] [int] NOT NULL,
	[enroll_limit] [int] NOT NULL,
 CONSTRAINT [PK_SECTION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SECTION_BOOKLIST]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECTION_BOOKLIST](
	[id] [int] NOT NULL,
	[section_id] [int] NOT NULL,
	[book_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SECTION_BOOKLIST] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NOT NULL,
	[firstname] [text] NOT NULL,
	[middlename] [text] NULL,
	[lastname] [text] NOT NULL,
	[ssn] [int] NOT NULL,
	[resident_status] [int] NOT NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENT_DEGREE]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_DEGREE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[degree_id] [int] NOT NULL,
 CONSTRAINT [PK_STUDENT_DEGREE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UNDERGRAD]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNDERGRAD](
	[id] [int] NOT NULL,
	[major_id] [int] NOT NULL,
	[minor_id] [int] NOT NULL,
	[college_id] [int] NOT NULL,
 CONSTRAINT [PK_UNDERGRAD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UNIT_CATEGORY]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIT_CATEGORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[totalunit] [int] NOT NULL,
 CONSTRAINT [PK_UNIT_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UNIT_COURSE_CATEGORY]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIT_COURSE_CATEGORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[unit_category_id] [int] NOT NULL,
	[course_category_id] [int] NOT NULL,
 CONSTRAINT [PK_UNIT_COURSE_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UNIT_REQUIREMENT]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIT_REQUIREMENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[department_id] [int] NOT NULL,
	[degree_id] [int] NOT NULL,
	[totalunit_id] [int] NOT NULL,
 CONSTRAINT [PK_UNIT_REQUIREMENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WAITLIST]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAITLIST](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[section_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
 CONSTRAINT [PK_WAITLIST] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WEEKDAY]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WEEKDAY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[day] [varchar](50) NOT NULL,
 CONSTRAINT [PK_WEEKDAY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WEEKLY_MEETING]    Script Date: 6/4/2017 12:57:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WEEKLY_MEETING](
	[id] [int] NOT NULL,
	[weekday] [text] NOT NULL,
 CONSTRAINT [PK_WEEKLY_MEETING] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ATTENDANCE] ON 

INSERT [dbo].[ATTENDANCE] ([id], [student_id], [quarter_id]) VALUES (13, 10, 48)
INSERT [dbo].[ATTENDANCE] ([id], [student_id], [quarter_id]) VALUES (14, 10, 49)
INSERT [dbo].[ATTENDANCE] ([id], [student_id], [quarter_id]) VALUES (15, 10, 50)
GO
SET IDENTITY_INSERT [dbo].[ATTENDANCE] OFF
SET IDENTITY_INSERT [dbo].[CLASS] ON 

INSERT [dbo].[CLASS] ([id], [course_id], [title], [quarter_id]) VALUES (1, 16, N'Probability and Statistics', 3)
INSERT [dbo].[CLASS] ([id], [course_id], [title], [quarter_id]) VALUES (2, 13, N'Operating Systems', 3)
INSERT [dbo].[CLASS] ([id], [course_id], [title], [quarter_id]) VALUES (3, 11, N'Data Mining and Predictive Analytics', 3)
SET IDENTITY_INSERT [dbo].[CLASS] OFF
SET IDENTITY_INSERT [dbo].[COLLEGE] ON 

INSERT [dbo].[COLLEGE] ([id], [name]) VALUES (1, N'Thurgood Marshal')
INSERT [dbo].[COLLEGE] ([id], [name]) VALUES (2, N'John Muir')
INSERT [dbo].[COLLEGE] ([id], [name]) VALUES (3, N'Revelle')
SET IDENTITY_INSERT [dbo].[COLLEGE] OFF
SET IDENTITY_INSERT [dbo].[COURSE] ON 

INSERT [dbo].[COURSE] ([id], [subject_id], [prevNum], [currNum], [unitFrom], [unitTo], [letter_option], [SU_option], [labwork], [instructor_consent]) VALUES (6, 19, NULL, N'8A', 2, 4, 1, 1, 0, 0)
INSERT [dbo].[COURSE] ([id], [subject_id], [prevNum], [currNum], [unitFrom], [unitTo], [letter_option], [SU_option], [labwork], [instructor_consent]) VALUES (7, 19, NULL, N'105', 2, 4, 1, 1, 0, 0)
INSERT [dbo].[COURSE] ([id], [subject_id], [prevNum], [currNum], [unitFrom], [unitTo], [letter_option], [SU_option], [labwork], [instructor_consent]) VALUES (8, 19, NULL, N'123', 2, 4, 1, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[COURSE] OFF
SET IDENTITY_INSERT [dbo].[COURSE_CATEGORY_REQUIREMENT] ON 

INSERT [dbo].[COURSE_CATEGORY_REQUIREMENT] ([id], [type_id], [min_gpa], [min_unit]) VALUES (1, 1, NULL, 10)
INSERT [dbo].[COURSE_CATEGORY_REQUIREMENT] ([id], [type_id], [min_gpa], [min_unit]) VALUES (2, 2, NULL, 15)
INSERT [dbo].[COURSE_CATEGORY_REQUIREMENT] ([id], [type_id], [min_gpa], [min_unit]) VALUES (3, 4, NULL, 15)
SET IDENTITY_INSERT [dbo].[COURSE_CATEGORY_REQUIREMENT] OFF
SET IDENTITY_INSERT [dbo].[COURSE_SUBJECT] ON 

INSERT [dbo].[COURSE_SUBJECT] ([subject_id], [symbol], [dept_id]) VALUES (1, N'AIP', 1)
INSERT [dbo].[COURSE_SUBJECT] ([subject_id], [symbol], [dept_id]) VALUES (2, N'AAF', 64)
INSERT [dbo].[COURSE_SUBJECT] ([subject_id], [symbol], [dept_id]) VALUES (3, N'ANES', 2)
SET IDENTITY_INSERT [dbo].[COURSE_SUBJECT] OFF
SET IDENTITY_INSERT [dbo].[COURSE_TYPE] ON 

INSERT [dbo].[COURSE_TYPE] ([id], [name]) VALUES (1, N'Lower Division')
INSERT [dbo].[COURSE_TYPE] ([id], [name]) VALUES (2, N'Upper Division')
INSERT [dbo].[COURSE_TYPE] ([id], [name]) VALUES (3, N'Graduate')
SET IDENTITY_INSERT [dbo].[COURSE_TYPE] OFF
SET IDENTITY_INSERT [dbo].[COURSE_TYPE_CATEGORY] ON 

INSERT [dbo].[COURSE_TYPE_CATEGORY] ([id], [course_id], [type_id]) VALUES (1, 6, 1)
INSERT [dbo].[COURSE_TYPE_CATEGORY] ([id], [course_id], [type_id]) VALUES (2, 7, 2)
INSERT [dbo].[COURSE_TYPE_CATEGORY] ([id], [course_id], [type_id]) VALUES (4, 7, 4)
SET IDENTITY_INSERT [dbo].[COURSE_TYPE_CATEGORY] OFF
SET IDENTITY_INSERT [dbo].[DEGREE] ON 

INSERT [dbo].[DEGREE] ([id], [name], [type_id], [institution]) VALUES (3, N'B.S in Computer Science', 1, N'UCSD')
INSERT [dbo].[DEGREE] ([id], [name], [type_id], [institution]) VALUES (4, N'B.A in Philosophy', 1, N'UCSD')
INSERT [dbo].[DEGREE] ([id], [name], [type_id], [institution]) VALUES (5, N'B.S in Mechanical Engineering', 1, N'UCSD')
SET IDENTITY_INSERT [dbo].[DEGREE] OFF
SET IDENTITY_INSERT [dbo].[DEGREE_TYPE] ON 

INSERT [dbo].[DEGREE_TYPE] ([id], [name]) VALUES (1, N'Bachelors')
INSERT [dbo].[DEGREE_TYPE] ([id], [name]) VALUES (2, N'Master')
INSERT [dbo].[DEGREE_TYPE] ([id], [name]) VALUES (3, N'PhD')
SET IDENTITY_INSERT [dbo].[DEGREE_TYPE] OFF
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([id], [name]) VALUES (1, N'Academic Internship Program')
INSERT [dbo].[DEPARTMENT] ([id], [name]) VALUES (2, N'Anesthesiology')
INSERT [dbo].[DEPARTMENT] ([id], [name]) VALUES (3, N'Anthropology')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
INSERT [dbo].[DISCUSSION] ([id], [required]) VALUES (16, 0)
INSERT [dbo].[DISCUSSION] ([id], [required]) VALUES (25, 0)
INSERT [dbo].[DISCUSSION] ([id], [required]) VALUES (28, 1)
SET IDENTITY_INSERT [dbo].[ENROLLMENT] ON 

INSERT [dbo].[ENROLLMENT] ([id], [student_id], [section_id], [letter_option], [su_option], [grade], [unit]) VALUES (35, 10, 24, 1, 0, N'A-', 4)
INSERT [dbo].[ENROLLMENT] ([id], [student_id], [section_id], [letter_option], [su_option], [grade], [unit]) VALUES (36, 12, 24, 1, 0, N'B+', 4)
INSERT [dbo].[ENROLLMENT] ([id], [student_id], [section_id], [letter_option], [su_option], [grade], [unit]) VALUES (37, 11, 25, 1, 0, N'C-', 4)
SET IDENTITY_INSERT [dbo].[ENROLLMENT] OFF
SET IDENTITY_INSERT [dbo].[FACULTY] ON 

INSERT [dbo].[FACULTY] ([id], [name], [title], [dept_id]) VALUES (4, N'Justin Bieber', N'Associate Professor', 10)
INSERT [dbo].[FACULTY] ([id], [name], [title], [dept_id]) VALUES (5, N'Flo Rida', N'Professor', 10)
INSERT [dbo].[FACULTY] ([id], [name], [title], [dept_id]) VALUES (6, N'Selena Gomez', N'Professor', 10)
SET IDENTITY_INSERT [dbo].[FACULTY] OFF
INSERT [dbo].[GRAD] ([id], [dept_id]) VALUES (1007, 10)
INSERT [dbo].[GRAD] ([id], [dept_id]) VALUES (1008, 10)
INSERT [dbo].[GRAD] ([id], [dept_id]) VALUES (1010, 10)
INSERT [dbo].[GRADE_CONVERSION] ([letter_grade], [number_grade]) VALUES (N'A+', CAST(4.0 AS Decimal(2, 1)))
INSERT [dbo].[GRADE_CONVERSION] ([letter_grade], [number_grade]) VALUES (N'A', CAST(4.0 AS Decimal(2, 1)))
INSERT [dbo].[GRADE_CONVERSION] ([letter_grade], [number_grade]) VALUES (N'A-', CAST(3.7 AS Decimal(2, 1)))
INSERT [dbo].[MASTER] ([id]) VALUES (1007)
INSERT [dbo].[MASTER] ([id]) VALUES (1008)
INSERT [dbo].[MASTER] ([id]) VALUES (1010)
SET IDENTITY_INSERT [dbo].[MEETING] ON 

INSERT [dbo].[MEETING] ([id], [start_time], [end_time], [room], [building], [section_id]) VALUES (1, CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time), 2001, N'WLH', 1)
INSERT [dbo].[MEETING] ([id], [start_time], [end_time], [room], [building], [section_id]) VALUES (2, CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time), 2001, N'WLH', 1)
INSERT [dbo].[MEETING] ([id], [start_time], [end_time], [room], [building], [section_id]) VALUES (3, CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time), 2001, N'WLH', 1)
SET IDENTITY_INSERT [dbo].[MEETING] OFF
SET IDENTITY_INSERT [dbo].[MS_CONCENTRATION] ON 

INSERT [dbo].[MS_CONCENTRATION] ([id], [name], [degree_id]) VALUES (1, N'Databases', 6)
INSERT [dbo].[MS_CONCENTRATION] ([id], [name], [degree_id]) VALUES (2, N'AI', 6)
INSERT [dbo].[MS_CONCENTRATION] ([id], [name], [degree_id]) VALUES (3, N'Systems', 6)
SET IDENTITY_INSERT [dbo].[MS_CONCENTRATION] OFF
SET IDENTITY_INSERT [dbo].[MS_CONCENTRATION_COURSE] ON 

INSERT [dbo].[MS_CONCENTRATION_COURSE] ([id], [concentration_id], [course_id]) VALUES (1, 1, 12)
INSERT [dbo].[MS_CONCENTRATION_COURSE] ([id], [concentration_id], [course_id]) VALUES (2, 2, 11)
INSERT [dbo].[MS_CONCENTRATION_COURSE] ([id], [concentration_id], [course_id]) VALUES (3, 2, 9)
SET IDENTITY_INSERT [dbo].[MS_CONCENTRATION_COURSE] OFF
SET IDENTITY_INSERT [dbo].[MS_CONCENTRATION_REQUIREMENT] ON 

INSERT [dbo].[MS_CONCENTRATION_REQUIREMENT] ([id], [concentration_id], [course_category_id]) VALUES (1, 1, 14)
INSERT [dbo].[MS_CONCENTRATION_REQUIREMENT] ([id], [concentration_id], [course_category_id]) VALUES (2, 2, 15)
INSERT [dbo].[MS_CONCENTRATION_REQUIREMENT] ([id], [concentration_id], [course_category_id]) VALUES (3, 3, 16)
SET IDENTITY_INSERT [dbo].[MS_CONCENTRATION_REQUIREMENT] OFF
INSERT [dbo].[NON_DISCUSSION] ([id], [type]) VALUES (1, N'LE')
INSERT [dbo].[NON_DISCUSSION] ([id], [type]) VALUES (2, N'LE')
INSERT [dbo].[NON_DISCUSSION] ([id], [type]) VALUES (3, N'LE')
SET IDENTITY_INSERT [dbo].[QUARTER] ON 

INSERT [dbo].[QUARTER] ([id], [name_id], [year]) VALUES (48, 1, 2014)
INSERT [dbo].[QUARTER] ([id], [name_id], [year]) VALUES (51, 1, 2015)
INSERT [dbo].[QUARTER] ([id], [name_id], [year]) VALUES (1, 1, 2016)
SET IDENTITY_INSERT [dbo].[QUARTER] OFF
SET IDENTITY_INSERT [dbo].[QUARTER_NAME] ON 

INSERT [dbo].[QUARTER_NAME] ([id], [name]) VALUES (1, N'FALL')
INSERT [dbo].[QUARTER_NAME] ([id], [name]) VALUES (2, N'WINTER')
INSERT [dbo].[QUARTER_NAME] ([id], [name]) VALUES (3, N'SPRING')
SET IDENTITY_INSERT [dbo].[QUARTER_NAME] OFF
SET IDENTITY_INSERT [dbo].[RESIDENT_STATUS] ON 

INSERT [dbo].[RESIDENT_STATUS] ([id], [type]) VALUES (1, N'CA')
INSERT [dbo].[RESIDENT_STATUS] ([id], [type]) VALUES (2, N'NON-CA')
INSERT [dbo].[RESIDENT_STATUS] ([id], [type]) VALUES (3, N'FOREIGN')
SET IDENTITY_INSERT [dbo].[RESIDENT_STATUS] OFF
SET IDENTITY_INSERT [dbo].[REVIEW_SESSION_AVAILABLE_TIME] ON 

INSERT [dbo].[REVIEW_SESSION_AVAILABLE_TIME] ([id], [start_time], [end_time]) VALUES (1, CAST(N'08:00:00' AS Time), CAST(N'09:00:00' AS Time))
INSERT [dbo].[REVIEW_SESSION_AVAILABLE_TIME] ([id], [start_time], [end_time]) VALUES (2, CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time))
INSERT [dbo].[REVIEW_SESSION_AVAILABLE_TIME] ([id], [start_time], [end_time]) VALUES (3, CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[REVIEW_SESSION_AVAILABLE_TIME] OFF
SET IDENTITY_INSERT [dbo].[SECTION] ON 

INSERT [dbo].[SECTION] ([id], [class_id], [faculty_id], [enroll_limit]) VALUES (1, 1, 7, 2)
INSERT [dbo].[SECTION] ([id], [class_id], [faculty_id], [enroll_limit]) VALUES (2, 2, 9, 5)
INSERT [dbo].[SECTION] ([id], [class_id], [faculty_id], [enroll_limit]) VALUES (3, 3, 5, 5)
SET IDENTITY_INSERT [dbo].[SECTION] OFF
SET IDENTITY_INSERT [dbo].[STUDENT] ON 

INSERT [dbo].[STUDENT] ([id], [pid], [firstname], [middlename], [lastname], [ssn], [resident_status]) VALUES (10, 1, N'Benjamin', N'', N'B', 1, 1)
INSERT [dbo].[STUDENT] ([id], [pid], [firstname], [middlename], [lastname], [ssn], [resident_status]) VALUES (11, 2, N'Kristen', N'', N'W', 2, 1)
INSERT [dbo].[STUDENT] ([id], [pid], [firstname], [middlename], [lastname], [ssn], [resident_status]) VALUES (12, 3, N'Daniel', N'', N'F', 3, 1)
SET IDENTITY_INSERT [dbo].[STUDENT] OFF
SET IDENTITY_INSERT [dbo].[STUDENT_DEGREE] ON 

INSERT [dbo].[STUDENT_DEGREE] ([id], [student_id], [degree_id]) VALUES (4, 10, 3)
INSERT [dbo].[STUDENT_DEGREE] ([id], [student_id], [degree_id]) VALUES (5, 11, 3)
INSERT [dbo].[STUDENT_DEGREE] ([id], [student_id], [degree_id]) VALUES (6, 12, 3)
SET IDENTITY_INSERT [dbo].[STUDENT_DEGREE] OFF
INSERT [dbo].[UNDERGRAD] ([id], [major_id], [minor_id], [college_id]) VALUES (10, 10, 8, 1)
INSERT [dbo].[UNDERGRAD] ([id], [major_id], [minor_id], [college_id]) VALUES (11, 10, 8, 1)
INSERT [dbo].[UNDERGRAD] ([id], [major_id], [minor_id], [college_id]) VALUES (12, 10, 8, 1)
SET IDENTITY_INSERT [dbo].[UNIT_CATEGORY] ON 

INSERT [dbo].[UNIT_CATEGORY] ([id], [totalunit]) VALUES (2, 40)
INSERT [dbo].[UNIT_CATEGORY] ([id], [totalunit]) VALUES (3, 35)
INSERT [dbo].[UNIT_CATEGORY] ([id], [totalunit]) VALUES (4, 50)
SET IDENTITY_INSERT [dbo].[UNIT_CATEGORY] OFF
SET IDENTITY_INSERT [dbo].[UNIT_COURSE_CATEGORY] ON 

INSERT [dbo].[UNIT_COURSE_CATEGORY] ([id], [unit_category_id], [course_category_id]) VALUES (1, 2, 1)
INSERT [dbo].[UNIT_COURSE_CATEGORY] ([id], [unit_category_id], [course_category_id]) VALUES (2, 2, 2)
INSERT [dbo].[UNIT_COURSE_CATEGORY] ([id], [unit_category_id], [course_category_id]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[UNIT_COURSE_CATEGORY] OFF
SET IDENTITY_INSERT [dbo].[UNIT_REQUIREMENT] ON 

INSERT [dbo].[UNIT_REQUIREMENT] ([id], [department_id], [degree_id], [totalunit_id]) VALUES (1, 10, 3, 2)
INSERT [dbo].[UNIT_REQUIREMENT] ([id], [department_id], [degree_id], [totalunit_id]) VALUES (2, 41, 4, 3)
INSERT [dbo].[UNIT_REQUIREMENT] ([id], [department_id], [degree_id], [totalunit_id]) VALUES (3, 33, 5, 4)
SET IDENTITY_INSERT [dbo].[UNIT_REQUIREMENT] OFF
SET IDENTITY_INSERT [dbo].[WEEKDAY] ON 

INSERT [dbo].[WEEKDAY] ([id], [day]) VALUES (1, N'Monday')
INSERT [dbo].[WEEKDAY] ([id], [day]) VALUES (2, N'Tuesday')
INSERT [dbo].[WEEKDAY] ([id], [day]) VALUES (3, N'Wednesday')
SET IDENTITY_INSERT [dbo].[WEEKDAY] OFF
INSERT [dbo].[WEEKLY_MEETING] ([id], [weekday]) VALUES (1, N'Monday')
INSERT [dbo].[WEEKLY_MEETING] ([id], [weekday]) VALUES (2, N'Wednesday')
INSERT [dbo].[WEEKLY_MEETING] ([id], [weekday]) VALUES (3, N'Friday')
/****** Object:  Index [IX_CLASS]    Script Date: 6/4/2017 12:57:08 AM ******/
ALTER TABLE [dbo].[CLASS] ADD  CONSTRAINT [IX_CLASS] UNIQUE NONCLUSTERED 
(
	[course_id] ASC,
	[quarter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_COMMITTEE_FACULTY]    Script Date: 6/4/2017 12:57:08 AM ******/
ALTER TABLE [dbo].[COMMITTEE_FACULTY] ADD  CONSTRAINT [IX_COMMITTEE_FACULTY] UNIQUE NONCLUSTERED 
(
	[committee_id] ASC,
	[faculty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_COURSE_TYPE_CATEGORY]    Script Date: 6/4/2017 12:57:08 AM ******/
ALTER TABLE [dbo].[COURSE_TYPE_CATEGORY] ADD  CONSTRAINT [IX_COURSE_TYPE_CATEGORY] UNIQUE NONCLUSTERED 
(
	[course_id] ASC,
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MS_CONCENTRATION_REQUIREMENT]    Script Date: 6/4/2017 12:57:08 AM ******/
ALTER TABLE [dbo].[MS_CONCENTRATION_REQUIREMENT] ADD  CONSTRAINT [IX_MS_CONCENTRATION_REQUIREMENT] UNIQUE NONCLUSTERED 
(
	[concentration_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PROBATION_PERIOD]    Script Date: 6/4/2017 12:57:08 AM ******/
ALTER TABLE [dbo].[PROBATION_PERIOD] ADD  CONSTRAINT [IX_PROBATION_PERIOD] UNIQUE NONCLUSTERED 
(
	[quarter_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QUARTER]    Script Date: 6/4/2017 12:57:08 AM ******/
ALTER TABLE [dbo].[QUARTER] ADD  CONSTRAINT [IX_QUARTER] UNIQUE NONCLUSTERED 
(
	[name_id] ASC,
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_STUDENT]    Script Date: 6/4/2017 12:57:08 AM ******/
ALTER TABLE [dbo].[STUDENT] ADD  CONSTRAINT [IX_STUDENT] UNIQUE NONCLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_STUDENT_1]    Script Date: 6/4/2017 12:57:08 AM ******/
ALTER TABLE [dbo].[STUDENT] ADD  CONSTRAINT [IX_STUDENT_1] UNIQUE NONCLUSTERED 
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_STUDENT_DEGREE]    Script Date: 6/4/2017 12:57:08 AM ******/
ALTER TABLE [dbo].[STUDENT_DEGREE] ADD  CONSTRAINT [IX_STUDENT_DEGREE] UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[degree_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UNIT_REQUIREMENT]    Script Date: 6/4/2017 12:57:08 AM ******/
ALTER TABLE [dbo].[UNIT_REQUIREMENT] ADD  CONSTRAINT [IX_UNIT_REQUIREMENT] UNIQUE NONCLUSTERED 
(
	[degree_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_ATTENDANCE_QUARTER] FOREIGN KEY([quarter_id])
REFERENCES [dbo].[QUARTER] ([id])
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [FK_ATTENDANCE_QUARTER]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_ATTENDANCE_STUDENT] FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [FK_ATTENDANCE_STUDENT]
GO
ALTER TABLE [dbo].[BOOK_AVAILABILITY]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_AVAILABILITY_BOOK] FOREIGN KEY([book_id])
REFERENCES [dbo].[BOOK] ([id])
GO
ALTER TABLE [dbo].[BOOK_AVAILABILITY] CHECK CONSTRAINT [FK_BOOK_AVAILABILITY_BOOK]
GO
ALTER TABLE [dbo].[BOOK_AVAILABILITY]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_AVAILABILITY_BOOK_CONDITION] FOREIGN KEY([condition_id])
REFERENCES [dbo].[BOOK_CONDITION] ([id])
GO
ALTER TABLE [dbo].[BOOK_AVAILABILITY] CHECK CONSTRAINT [FK_BOOK_AVAILABILITY_BOOK_CONDITION]
GO
ALTER TABLE [dbo].[BSMS_STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_BSMS_STUDENT_COLLEGE] FOREIGN KEY([college_id])
REFERENCES [dbo].[COLLEGE] ([id])
GO
ALTER TABLE [dbo].[BSMS_STUDENT] CHECK CONSTRAINT [FK_BSMS_STUDENT_COLLEGE]
GO
ALTER TABLE [dbo].[BSMS_STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_BSMS_STUDENT_DEPARTMENT] FOREIGN KEY([major_id])
REFERENCES [dbo].[DEPARTMENT] ([id])
GO
ALTER TABLE [dbo].[BSMS_STUDENT] CHECK CONSTRAINT [FK_BSMS_STUDENT_DEPARTMENT]
GO
ALTER TABLE [dbo].[BSMS_STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_BSMS_STUDENT_DEPARTMENT1] FOREIGN KEY([minor_id])
REFERENCES [dbo].[DEPARTMENT] ([id])
GO
ALTER TABLE [dbo].[BSMS_STUDENT] CHECK CONSTRAINT [FK_BSMS_STUDENT_DEPARTMENT1]
GO
ALTER TABLE [dbo].[BSMS_STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_BSMS_STUDENT_MASTER] FOREIGN KEY([id])
REFERENCES [dbo].[MASTER] ([id])
GO
ALTER TABLE [dbo].[BSMS_STUDENT] CHECK CONSTRAINT [FK_BSMS_STUDENT_MASTER]
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD  CONSTRAINT [FK_CLASS_COURSE] FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSE] ([id])
GO
ALTER TABLE [dbo].[CLASS] CHECK CONSTRAINT [FK_CLASS_COURSE]
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD  CONSTRAINT [FK_CLASS_QUARTER] FOREIGN KEY([quarter_id])
REFERENCES [dbo].[QUARTER] ([id])
GO
ALTER TABLE [dbo].[CLASS] CHECK CONSTRAINT [FK_CLASS_QUARTER]
GO
ALTER TABLE [dbo].[COMMITTEE_FACULTY]  WITH CHECK ADD  CONSTRAINT [FK_COMMITTEE_FACULTY_COMMITTEE] FOREIGN KEY([committee_id])
REFERENCES [dbo].[COMMITTEE] ([id])
GO
ALTER TABLE [dbo].[COMMITTEE_FACULTY] CHECK CONSTRAINT [FK_COMMITTEE_FACULTY_COMMITTEE]
GO
ALTER TABLE [dbo].[COMMITTEE_FACULTY]  WITH CHECK ADD  CONSTRAINT [FK_COMMITTEE_FACULTY_FACULTY] FOREIGN KEY([faculty_id])
REFERENCES [dbo].[FACULTY] ([id])
GO
ALTER TABLE [dbo].[COMMITTEE_FACULTY] CHECK CONSTRAINT [FK_COMMITTEE_FACULTY_FACULTY]
GO
ALTER TABLE [dbo].[COMMITTEE_GRAD]  WITH CHECK ADD  CONSTRAINT [FK_COMMITTEE_GRAD_COMMITTEE] FOREIGN KEY([committee_id])
REFERENCES [dbo].[COMMITTEE] ([id])
GO
ALTER TABLE [dbo].[COMMITTEE_GRAD] CHECK CONSTRAINT [FK_COMMITTEE_GRAD_COMMITTEE]
GO
ALTER TABLE [dbo].[COMMITTEE_GRAD]  WITH CHECK ADD  CONSTRAINT [FK_COMMITTEE_GRAD_GRAD] FOREIGN KEY([grad_id])
REFERENCES [dbo].[GRAD] ([id])
GO
ALTER TABLE [dbo].[COMMITTEE_GRAD] CHECK CONSTRAINT [FK_COMMITTEE_GRAD_GRAD]
GO
ALTER TABLE [dbo].[COMMITTEE_PHD]  WITH CHECK ADD  CONSTRAINT [FK_COMMITTEE_PHD_COMMITTEE] FOREIGN KEY([committee_id])
REFERENCES [dbo].[COMMITTEE] ([id])
GO
ALTER TABLE [dbo].[COMMITTEE_PHD] CHECK CONSTRAINT [FK_COMMITTEE_PHD_COMMITTEE]
GO
ALTER TABLE [dbo].[COMMITTEE_PHD]  WITH CHECK ADD  CONSTRAINT [FK_COMMITTEE_PHD_PHD_CANDIDATE] FOREIGN KEY([phd_candidate_id])
REFERENCES [dbo].[PHD_CANDIDATE] ([id])
GO
ALTER TABLE [dbo].[COMMITTEE_PHD] CHECK CONSTRAINT [FK_COMMITTEE_PHD_PHD_CANDIDATE]
GO
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_COURSE_SUBJECT] FOREIGN KEY([subject_id])
REFERENCES [dbo].[COURSE_SUBJECT] ([subject_id])
GO
ALTER TABLE [dbo].[COURSE] CHECK CONSTRAINT [FK_COURSE_COURSE_SUBJECT]
GO
ALTER TABLE [dbo].[COURSE_CATEGORY_REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_CATEGORY_REQUIREMENT_COURSE_TYPE] FOREIGN KEY([type_id])
REFERENCES [dbo].[COURSE_TYPE] ([id])
GO
ALTER TABLE [dbo].[COURSE_CATEGORY_REQUIREMENT] CHECK CONSTRAINT [FK_COURSE_CATEGORY_REQUIREMENT_COURSE_TYPE]
GO
ALTER TABLE [dbo].[COURSE_SUBJECT]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_SUBJECT_DEPARTMENT] FOREIGN KEY([dept_id])
REFERENCES [dbo].[DEPARTMENT] ([id])
GO
ALTER TABLE [dbo].[COURSE_SUBJECT] CHECK CONSTRAINT [FK_COURSE_SUBJECT_DEPARTMENT]
GO
ALTER TABLE [dbo].[COURSE_TYPE_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_TYPE_CATEGORY_COURSE] FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSE] ([id])
GO
ALTER TABLE [dbo].[COURSE_TYPE_CATEGORY] CHECK CONSTRAINT [FK_COURSE_TYPE_CATEGORY_COURSE]
GO
ALTER TABLE [dbo].[COURSE_TYPE_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_TYPE_CATEGORY_COURSE_TYPE] FOREIGN KEY([type_id])
REFERENCES [dbo].[COURSE_TYPE] ([id])
GO
ALTER TABLE [dbo].[COURSE_TYPE_CATEGORY] CHECK CONSTRAINT [FK_COURSE_TYPE_CATEGORY_COURSE_TYPE]
GO
ALTER TABLE [dbo].[DEGREE]  WITH CHECK ADD  CONSTRAINT [FK_DEGREE_DEGREE_TYPE] FOREIGN KEY([type_id])
REFERENCES [dbo].[DEGREE_TYPE] ([id])
GO
ALTER TABLE [dbo].[DEGREE] CHECK CONSTRAINT [FK_DEGREE_DEGREE_TYPE]
GO
ALTER TABLE [dbo].[DISCUSSION]  WITH CHECK ADD  CONSTRAINT [FK_DISCUSSION_WEEKLY_MEETING] FOREIGN KEY([id])
REFERENCES [dbo].[WEEKLY_MEETING] ([id])
GO
ALTER TABLE [dbo].[DISCUSSION] CHECK CONSTRAINT [FK_DISCUSSION_WEEKLY_MEETING]
GO
ALTER TABLE [dbo].[ENROLLMENT]  WITH CHECK ADD  CONSTRAINT [FK_ENROLLMENT_SECTION] FOREIGN KEY([section_id])
REFERENCES [dbo].[SECTION] ([id])
GO
ALTER TABLE [dbo].[ENROLLMENT] CHECK CONSTRAINT [FK_ENROLLMENT_SECTION]
GO
ALTER TABLE [dbo].[ENROLLMENT]  WITH CHECK ADD  CONSTRAINT [FK_ENROLLMENT_STUDENT] FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[ENROLLMENT] CHECK CONSTRAINT [FK_ENROLLMENT_STUDENT]
GO
ALTER TABLE [dbo].[FACULTY]  WITH CHECK ADD  CONSTRAINT [FK_FACULTY_DEPARTMENT] FOREIGN KEY([dept_id])
REFERENCES [dbo].[DEPARTMENT] ([id])
GO
ALTER TABLE [dbo].[FACULTY] CHECK CONSTRAINT [FK_FACULTY_DEPARTMENT]
GO
ALTER TABLE [dbo].[GRAD]  WITH CHECK ADD  CONSTRAINT [FK_GRAD_DEPARTMENT] FOREIGN KEY([dept_id])
REFERENCES [dbo].[DEPARTMENT] ([id])
GO
ALTER TABLE [dbo].[GRAD] CHECK CONSTRAINT [FK_GRAD_DEPARTMENT]
GO
ALTER TABLE [dbo].[GRAD]  WITH CHECK ADD  CONSTRAINT [FK_GRAD_STUDENT] FOREIGN KEY([id])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[GRAD] CHECK CONSTRAINT [FK_GRAD_STUDENT]
GO
ALTER TABLE [dbo].[MASTER]  WITH CHECK ADD  CONSTRAINT [FK_MASTER_GRAD] FOREIGN KEY([id])
REFERENCES [dbo].[GRAD] ([id])
GO
ALTER TABLE [dbo].[MASTER] CHECK CONSTRAINT [FK_MASTER_GRAD]
GO
ALTER TABLE [dbo].[MEETING]  WITH CHECK ADD  CONSTRAINT [FK_MEETING_SECTION] FOREIGN KEY([section_id])
REFERENCES [dbo].[SECTION] ([id])
GO
ALTER TABLE [dbo].[MEETING] CHECK CONSTRAINT [FK_MEETING_SECTION]
GO
ALTER TABLE [dbo].[MS_CONCENTRATION]  WITH CHECK ADD  CONSTRAINT [FK_MS_CONCENTRATION_DEGREE] FOREIGN KEY([degree_id])
REFERENCES [dbo].[DEGREE] ([id])
GO
ALTER TABLE [dbo].[MS_CONCENTRATION] CHECK CONSTRAINT [FK_MS_CONCENTRATION_DEGREE]
GO
ALTER TABLE [dbo].[MS_CONCENTRATION_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_MS_CONCENTRATION_COURSE_COURSE] FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSE] ([id])
GO
ALTER TABLE [dbo].[MS_CONCENTRATION_COURSE] CHECK CONSTRAINT [FK_MS_CONCENTRATION_COURSE_COURSE]
GO
ALTER TABLE [dbo].[MS_CONCENTRATION_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_MS_CONCENTRATION_COURSE_MS_CONCENTRATION] FOREIGN KEY([concentration_id])
REFERENCES [dbo].[MS_CONCENTRATION] ([id])
GO
ALTER TABLE [dbo].[MS_CONCENTRATION_COURSE] CHECK CONSTRAINT [FK_MS_CONCENTRATION_COURSE_MS_CONCENTRATION]
GO
ALTER TABLE [dbo].[MS_CONCENTRATION_REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [FK_MS_CONCENTRATION_REQUIREMENT_COURSE_CATEGORY_REQUIREMENT] FOREIGN KEY([course_category_id])
REFERENCES [dbo].[COURSE_CATEGORY_REQUIREMENT] ([id])
GO
ALTER TABLE [dbo].[MS_CONCENTRATION_REQUIREMENT] CHECK CONSTRAINT [FK_MS_CONCENTRATION_REQUIREMENT_COURSE_CATEGORY_REQUIREMENT]
GO
ALTER TABLE [dbo].[MS_CONCENTRATION_REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [FK_MS_CONCENTRATION_REQUIREMENT_MS_CONCENTRATION] FOREIGN KEY([concentration_id])
REFERENCES [dbo].[MS_CONCENTRATION] ([id])
GO
ALTER TABLE [dbo].[MS_CONCENTRATION_REQUIREMENT] CHECK CONSTRAINT [FK_MS_CONCENTRATION_REQUIREMENT_MS_CONCENTRATION]
GO
ALTER TABLE [dbo].[NON_DISCUSSION]  WITH CHECK ADD  CONSTRAINT [FK_NON_DISCUSSION_WEEKLY_MEETING] FOREIGN KEY([id])
REFERENCES [dbo].[WEEKLY_MEETING] ([id])
GO
ALTER TABLE [dbo].[NON_DISCUSSION] CHECK CONSTRAINT [FK_NON_DISCUSSION_WEEKLY_MEETING]
GO
ALTER TABLE [dbo].[PHD]  WITH CHECK ADD  CONSTRAINT [FK_PHD_GRAD] FOREIGN KEY([id])
REFERENCES [dbo].[GRAD] ([id])
GO
ALTER TABLE [dbo].[PHD] CHECK CONSTRAINT [FK_PHD_GRAD]
GO
ALTER TABLE [dbo].[PHD_CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_PHD_CANDIDATE_FACULTY] FOREIGN KEY([advisor_id])
REFERENCES [dbo].[FACULTY] ([id])
GO
ALTER TABLE [dbo].[PHD_CANDIDATE] CHECK CONSTRAINT [FK_PHD_CANDIDATE_FACULTY]
GO
ALTER TABLE [dbo].[PHD_CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_PHD_CANDIDATE_PHD] FOREIGN KEY([id])
REFERENCES [dbo].[PHD] ([id])
GO
ALTER TABLE [dbo].[PHD_CANDIDATE] CHECK CONSTRAINT [FK_PHD_CANDIDATE_PHD]
GO
ALTER TABLE [dbo].[PHD_PRECANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_PHD_PRECANDIDATE_PHD] FOREIGN KEY([id])
REFERENCES [dbo].[PHD] ([id])
GO
ALTER TABLE [dbo].[PHD_PRECANDIDATE] CHECK CONSTRAINT [FK_PHD_PRECANDIDATE_PHD]
GO
ALTER TABLE [dbo].[PREREQUISITE]  WITH CHECK ADD  CONSTRAINT [FK_PREREQUISITE_COURSE] FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSE] ([id])
GO
ALTER TABLE [dbo].[PREREQUISITE] CHECK CONSTRAINT [FK_PREREQUISITE_COURSE]
GO
ALTER TABLE [dbo].[PREREQUISITE]  WITH CHECK ADD  CONSTRAINT [FK_PREREQUISITE_COURSE1] FOREIGN KEY([prereq_id])
REFERENCES [dbo].[COURSE] ([id])
GO
ALTER TABLE [dbo].[PREREQUISITE] CHECK CONSTRAINT [FK_PREREQUISITE_COURSE1]
GO
ALTER TABLE [dbo].[PROBATION_PERIOD]  WITH CHECK ADD  CONSTRAINT [FK_PROBATION_PERIOD_QUARTER] FOREIGN KEY([quarter_id])
REFERENCES [dbo].[QUARTER] ([id])
GO
ALTER TABLE [dbo].[PROBATION_PERIOD] CHECK CONSTRAINT [FK_PROBATION_PERIOD_QUARTER]
GO
ALTER TABLE [dbo].[PROBATION_PERIOD]  WITH CHECK ADD  CONSTRAINT [FK_PROBATION_PERIOD_STUDENT] FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[PROBATION_PERIOD] CHECK CONSTRAINT [FK_PROBATION_PERIOD_STUDENT]
GO
ALTER TABLE [dbo].[QUARTER]  WITH CHECK ADD  CONSTRAINT [FK_QUARTER_QUARTER_NAME] FOREIGN KEY([name_id])
REFERENCES [dbo].[QUARTER_NAME] ([id])
GO
ALTER TABLE [dbo].[QUARTER] CHECK CONSTRAINT [FK_QUARTER_QUARTER_NAME]
GO
ALTER TABLE [dbo].[REVIEW_SESSION]  WITH CHECK ADD  CONSTRAINT [FK_REVIEW_SESSION_MEETING] FOREIGN KEY([id])
REFERENCES [dbo].[MEETING] ([id])
GO
ALTER TABLE [dbo].[REVIEW_SESSION] CHECK CONSTRAINT [FK_REVIEW_SESSION_MEETING]
GO
ALTER TABLE [dbo].[SECTION]  WITH CHECK ADD  CONSTRAINT [FK_SECTION_CLASS] FOREIGN KEY([class_id])
REFERENCES [dbo].[CLASS] ([id])
GO
ALTER TABLE [dbo].[SECTION] CHECK CONSTRAINT [FK_SECTION_CLASS]
GO
ALTER TABLE [dbo].[SECTION]  WITH CHECK ADD  CONSTRAINT [FK_SECTION_FACULTY] FOREIGN KEY([faculty_id])
REFERENCES [dbo].[FACULTY] ([id])
GO
ALTER TABLE [dbo].[SECTION] CHECK CONSTRAINT [FK_SECTION_FACULTY]
GO
ALTER TABLE [dbo].[SECTION_BOOKLIST]  WITH CHECK ADD  CONSTRAINT [FK_SECTION_BOOKLIST_BOOK] FOREIGN KEY([book_id])
REFERENCES [dbo].[BOOK] ([id])
GO
ALTER TABLE [dbo].[SECTION_BOOKLIST] CHECK CONSTRAINT [FK_SECTION_BOOKLIST_BOOK]
GO
ALTER TABLE [dbo].[SECTION_BOOKLIST]  WITH CHECK ADD  CONSTRAINT [FK_SECTION_BOOKLIST_SECTION] FOREIGN KEY([section_id])
REFERENCES [dbo].[SECTION] ([id])
GO
ALTER TABLE [dbo].[SECTION_BOOKLIST] CHECK CONSTRAINT [FK_SECTION_BOOKLIST_SECTION]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_RESIDENT_STATUS] FOREIGN KEY([resident_status])
REFERENCES [dbo].[RESIDENT_STATUS] ([id])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_RESIDENT_STATUS]
GO
ALTER TABLE [dbo].[STUDENT_DEGREE]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_DEGREE_DEGREE] FOREIGN KEY([degree_id])
REFERENCES [dbo].[DEGREE] ([id])
GO
ALTER TABLE [dbo].[STUDENT_DEGREE] CHECK CONSTRAINT [FK_STUDENT_DEGREE_DEGREE]
GO
ALTER TABLE [dbo].[STUDENT_DEGREE]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_DEGREE_STUDENT] FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[STUDENT_DEGREE] CHECK CONSTRAINT [FK_STUDENT_DEGREE_STUDENT]
GO
ALTER TABLE [dbo].[UNDERGRAD]  WITH CHECK ADD  CONSTRAINT [FK_UNDERGRAD_COLLEGE] FOREIGN KEY([college_id])
REFERENCES [dbo].[COLLEGE] ([id])
GO
ALTER TABLE [dbo].[UNDERGRAD] CHECK CONSTRAINT [FK_UNDERGRAD_COLLEGE]
GO
ALTER TABLE [dbo].[UNDERGRAD]  WITH CHECK ADD  CONSTRAINT [FK_UNDERGRAD_DEPARTMENT] FOREIGN KEY([minor_id])
REFERENCES [dbo].[DEPARTMENT] ([id])
GO
ALTER TABLE [dbo].[UNDERGRAD] CHECK CONSTRAINT [FK_UNDERGRAD_DEPARTMENT]
GO
ALTER TABLE [dbo].[UNDERGRAD]  WITH CHECK ADD  CONSTRAINT [FK_UNDERGRAD_DEPARTMENT1] FOREIGN KEY([major_id])
REFERENCES [dbo].[DEPARTMENT] ([id])
GO
ALTER TABLE [dbo].[UNDERGRAD] CHECK CONSTRAINT [FK_UNDERGRAD_DEPARTMENT1]
GO
ALTER TABLE [dbo].[UNDERGRAD]  WITH CHECK ADD  CONSTRAINT [FK_UNDERGRAD_STUDENT] FOREIGN KEY([id])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[UNDERGRAD] CHECK CONSTRAINT [FK_UNDERGRAD_STUDENT]
GO
ALTER TABLE [dbo].[UNIT_COURSE_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_UNIT_COURSE_CATEGORY_COURSE_CATEGORY_REQUIREMENT] FOREIGN KEY([course_category_id])
REFERENCES [dbo].[COURSE_CATEGORY_REQUIREMENT] ([id])
GO
ALTER TABLE [dbo].[UNIT_COURSE_CATEGORY] CHECK CONSTRAINT [FK_UNIT_COURSE_CATEGORY_COURSE_CATEGORY_REQUIREMENT]
GO
ALTER TABLE [dbo].[UNIT_COURSE_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_UNIT_COURSE_CATEGORY_UNIT_CATEGORY] FOREIGN KEY([unit_category_id])
REFERENCES [dbo].[UNIT_CATEGORY] ([id])
GO
ALTER TABLE [dbo].[UNIT_COURSE_CATEGORY] CHECK CONSTRAINT [FK_UNIT_COURSE_CATEGORY_UNIT_CATEGORY]
GO
ALTER TABLE [dbo].[UNIT_REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [FK_UNIT_REQUIREMENT_DEGREE] FOREIGN KEY([degree_id])
REFERENCES [dbo].[DEGREE] ([id])
GO
ALTER TABLE [dbo].[UNIT_REQUIREMENT] CHECK CONSTRAINT [FK_UNIT_REQUIREMENT_DEGREE]
GO
ALTER TABLE [dbo].[UNIT_REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [FK_UNIT_REQUIREMENT_DEPARTMENT] FOREIGN KEY([department_id])
REFERENCES [dbo].[DEPARTMENT] ([id])
GO
ALTER TABLE [dbo].[UNIT_REQUIREMENT] CHECK CONSTRAINT [FK_UNIT_REQUIREMENT_DEPARTMENT]
GO
ALTER TABLE [dbo].[UNIT_REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [FK_UNIT_REQUIREMENT_UNIT_CATEGORY] FOREIGN KEY([totalunit_id])
REFERENCES [dbo].[UNIT_CATEGORY] ([id])
GO
ALTER TABLE [dbo].[UNIT_REQUIREMENT] CHECK CONSTRAINT [FK_UNIT_REQUIREMENT_UNIT_CATEGORY]
GO
ALTER TABLE [dbo].[WAITLIST]  WITH CHECK ADD  CONSTRAINT [FK_WAITLIST_SECTION] FOREIGN KEY([section_id])
REFERENCES [dbo].[SECTION] ([id])
GO
ALTER TABLE [dbo].[WAITLIST] CHECK CONSTRAINT [FK_WAITLIST_SECTION]
GO
ALTER TABLE [dbo].[WAITLIST]  WITH CHECK ADD  CONSTRAINT [FK_WAITLIST_STUDENT] FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[WAITLIST] CHECK CONSTRAINT [FK_WAITLIST_STUDENT]
GO
ALTER TABLE [dbo].[WEEKLY_MEETING]  WITH CHECK ADD  CONSTRAINT [FK_WEEKLY_MEETING_MEETING] FOREIGN KEY([id])
REFERENCES [dbo].[MEETING] ([id])
GO
ALTER TABLE [dbo].[WEEKLY_MEETING] CHECK CONSTRAINT [FK_WEEKLY_MEETING_MEETING]
GO
ALTER TABLE [dbo].[UNDERGRAD]  WITH CHECK ADD  CONSTRAINT [CK_UNDERGRAD] CHECK  (([major_id]<>[minor_id]))
GO
ALTER TABLE [dbo].[UNDERGRAD] CHECK CONSTRAINT [CK_UNDERGRAD]
GO
